body {
    background-color: #000;
    font-family: "Avenir";

}

a.btn {
    background-color: #ffd633;
    color: white;
    letter-spacing: 1px;
    font-size: 1.5em;
    text-shadow: 6px 5px 4px rgba(136, 62, 16, 0.47);
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
    transform: scale(0.5);
}

#landing-header h1 {
  color: #fff;
  letter-spacing: 1px;
  font-size: 3.0em;
  text-shadow: 2px 2px blue;
  transition: 0.5s
}

#landing-header:hover * {
  transform: scale(2);
  /*opacity: 1;*/
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}


.slideshow li:nth-child(1) { 
  background-image: url(https://image.ibb.co/eSSiqS/24774797_10159717177775252_1301881962221350345_n.jpg); 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://image.ibb.co/imksjn/23244441_10159492844885484_3865688326601295830_n.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://image.ibb.co/eLyn0S/20597316_10155474898753954_980385697214495275_n.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://image.ibb.co/ey5BAS/27073244_10157323094979199_1798139213503112167_n.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://image.ibb.co/in6bS7/13654247_10157110837235114_5065127405091975706_n.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

.no-cssanimations .slideshow li {
	opacity: 1;
}