<% include ../partials/header %>


<h1 class="my-4 text-center text-lg-left">Welcome to my PORTFOLIO</h1>

      <div class="row text-center text-lg-left">

        <div class="col-lg-4 col-sm-6">
          <div class="img-fluid img-thumbnail bang">
            <a href="/portfolio/first_project" class="d-block h-50">
              <img class="image img-responsive" src="http://cdn3-www.mandatory.com/assets/uploads/2016/06/muhammad-ali-copy.jpg">
            </a>
            <div class="caption"><h4>My First Project</h4></div>
          </div>
        </div>
        
        <div class="col-lg-4 col-sm-6">
          <div class="img-fluid img-thumbnail bang">
            <a href="/portfolio/random_quote" class="d-block h-50">
              <img class="image img-responsive" src="https://image.ibb.co/h0qj7d/Screen_Shot_2018_05_29_at_16_26_40.png">
            </a>
            <div class="caption"><h4>Quote Generator</h4></div>
          </div>
        </div>
        
        <div class="col-lg-4 col-sm-6">
          <div class="img-fluid img-thumbnail bang">
            <a href="/portfolio/weather_app" class="d-block h-50">
              <img class="image img-responsive" src="https://image.ibb.co/hdz738/Screen_Shot_2018_05_26_at_17_42_23.png">
            </a>
            <div class="caption"><h4>Local Weather App</h4></div>
          </div>
        </div>
        
        <div class="col-lg-4 col-sm-6">
          <div class="img-fluid img-thumbnail bang">
            <a href="/portfolio/color_game" class="d-block h-50">
              <img class="image img-responsive" src="https://image.ibb.co/f8CWnd/Screen_Shot_2018_05_29_at_16_29_35.png">
            </a>
            <div class="caption"><h4>The RGB Color Game</h4></div>
          </div>
        </div>
        
        <div class="col-lg-4 col-sm-6">
          <div class="img-fluid img-thumbnail bang">
            <a href="/portfolio/wikipedia" class="d-block h-50">
              <img class="image img-responsive" src="https://image.ibb.co/iExux7/Screen_Shot_2018_03_30_at_17_57_56.png">
            </a>
            <div class="caption"><h4>Wikipedia Viewer</h4></div>
          </div>
        </div>
        
        <div class="col-lg-4 col-sm-6">
          <div class="img-fluid img-thumbnail bang">
            <a href="/portfolio/todolist" class="d-block h-50">
              <img class="image img-responsive" src="https://image.ibb.co/eg2zGT/Screen_Shot_2018_05_26_at_17_39_23.png">
            </a>
            <div class="caption"><h4>ToDo List</h4></div>
          </div>
        </div>
        
        <div class="col-lg-4 col-sm-6">
          <div class="img-fluid img-thumbnail bang">
            <a href="/portfolio/drumkit" class="d-block h-50">
              <img class="image img-responsive" src="https://www.iconwallstickers.co.uk/media/catalog/product/cache/5/image/650x/040ec09b1e35df139433887a97daa66f/W/S/WS-16132.jpg">
            </a>
            <div class="caption"><h4>Simple DrumKit</h4></div>
          </div>
        </div>
        
        <div class="col-lg-4 col-sm-6">
          <div class="img-fluid img-thumbnail bang">
            <a href="/portfolio/clock" class="d-block h-50">
              <img class="image img-responsive" src="https://image.ibb.co/cshDAo/Screen_Shot_2018_05_26_at_17_29_38.png">
            </a>
            <div class="caption"><h4>Javascript Clock</h4></div>
          </div>
        </div>
        
        <div class="col-lg-4 col-sm-6">
          <div class="img-fluid img-thumbnail bang">
            <a href="/portfolio/css-project" class="d-block h-50">
              <img class="image img-responsive" src="../stylesheets/img/me.jpg">
            </a>
            <div class="caption"><h4>CSS WebPage</h4></div>
          </div>
        </div>
        
        
        
        
        



<% include ../partials/footer %>